/* common css */

.section {
  margin-top: 100px;
  padding: 15px;
}
.section_title {
  font-style: 10px;
  color: #9999;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 15px;
  font-weight: 500;
}

.section_subtitle {
  font-size: 18px;
  color: black;
  font-family: "Playfair Display";
  font-weight: 700px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 15px;
  line-height: 1.8;
}
