/* Hero Section */
#hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 100vh;
  padding: 0 30px;
  background-color: #f5f7ff;
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;
  box-sizing: border-box;
  gap: 20px; 
}


#hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: flex-start; 
}


#hero-text h1 {
  font-size: 2.8rem; 
  line-height: 1.3;
  font-weight: 700;
  margin-bottom: 20px;
  font-family: "Playfair Display", serif;
}


#hero-text p {
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 30px;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 2px;
}


#hero-text button {
  width: 300px;
  border: 1px solid black;
  border-radius: 2px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

#hero-text button span {
  font-weight: normal;
  background-color: transparent;
  padding: 10px 15px;
  text-transform: uppercase;
}

#hero-text button i {
  font-size: 20px;
}

.profile-image-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 400px;
  height: 400px;
}

.profile-image {
  width: 100%;
  height: 100%; 
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid rgb(227, 198, 221); 
}



@media (max-width: 768px) {
  #hero {
    grid-template-columns: 1fr; 
    justify-items: center; 
    text-align: center;
  }

  #hero-text {
    align-items: center;
  }

  .profile-image-container {
    margin-top: 20px;
  }
}
