/* sidebardcss */
.sidebar_hamburger {
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px 15px;
  font-size: 24px;
  cursor: pointer;
  z-index: 50;
  transition-duration: 500ms;
}
.sidebar_hamburger_translate {
  transform: translateX(300px);
}
.sidebar_content {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 300px;
  background: #f5f7ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 20px;
  z-index: 20;
  transform: translateX(-300px);
  transition-duration: 500ms;
}
.sidebar_hamburger_translate + .sidebar_content {
  transform: translateX(0px);
}
.sidebar_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* .sidebar_list > li[margin-bottom: 20px]; */
