/* skillscss */
.skills {
  margin-bottom: 20px;
}
.skills > p {
  margin-bottom: 25px;
}
.skill_bg_box {
  background-color: #f2f3f7;
  border-radius: 8px;
}
.skill_percent_box {
  height: 6px;
  background: #2c98f0;
  width: 80%;
  border-radius: 6px;
  color: #2c98f0;
  position: relative;
}
.fornt-end {
  height: 6px;
  background: #4967ff;
  width: 70%;
  border-radius: 6px;
  color: #2c98f0;
  position: relative;
}
.python {
  height: 6px;
  background: #c4ed0b;
  width: 60%;
  border-radius: 6px;
  color: #2c98f0;
  position: relative;
}
.sql {
  height: 6px;
  background: #e50c10;
  width: 20%;
  border-radius: 6px;
  color: #2c98f0;
  position: relative;
}
.c{
  height: 6px;
  background: #ed7803;
  width: 70%;
  border-radius: 6px;
  color: #2c98f0;
  position: relative;
}







.skill_percent_box > span {
  position: absolute;
  top: -22px;
  right: 0;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.2;
}
@media screen and (min-width: 760px) {
  .all-skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
